  #app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

 .spin {
    animation: spinIt 1.5s infinite linear;
    font-size: 4rem;
  }
  @keyframes spinIt {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
  }
